.header {
	padding-top: 25px;
	background-color: #5C9BB7;
	background-image:-webkit-linear-gradient(top, #5c9bb7, #5392ad);
	background-image:-moz-linear-gradient(top, #5c9bb7, #5392ad);
	background-image:linear-gradient(top, #5c9bb7, #5392ad);
}

.tabs buttom {
	display: inline-block;
	padding: 10px 10px;
	margin: 0px 2px 0px 2px;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
	font-size: 15px;
	color: #fff;
	background: rgba(20, 51, 64, 0.7);
}

.tabs .active {
	background: #fff;
	color: #5C9BB7;
}

.header h1 {
	color: #fff;
	font-size: 86px;
	font-family: 'Cookie', cursive;
	font-weight: normal;
	line-height: 1;
	text-shadow: 0 3px 0 rgba(0,0,0,0.1);
}
