.options li {
	margin: 5px auto;
	max-width: 320px;
	padding: 10px;
	list-style-type: none;
	background-color: #F8F8F8;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}

.options li:hover{
	background-color: #F0F0F0;
}
